<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <div class="sidebar-about-info">
          <a href="https://twitter.com/cryp_TOTO"><i class="fa fa-twitter" style="font-size:20px" title="Twitter"></i></a>
        
          <a href="https://www.linkedin.com/in/hijane/"><i class="fa fa-linkedin" style="font-size:20px"></i></a>
        </div>

      
      
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">About</a>
      <a class="sidebar-nav-item" href="/projects">Projects</a>
      <a class="sidebar-nav-item" href="/blog">Blog</a>
      <a class="sidebar-nav-item" href="/sinoblog">Sino Blog</a>
      <a class="sidebar-nav-item" href="/feed.xml">RSS</a>
    </nav>
  </div>
</div>
<!DOCTYPE html>
<html>
